body,html {
  background: #000;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
}
h1 {
  color: skyblue;
  font-weight: lighter;
  margin: 0 0 5px 0;
}
header {}
section {
  display: block;
  max-width: 600px;
  padding: 0 .5em 0 .5em;
  background: #000;
  margin: 0 auto;
  position: relative;
}
li {
  list-style:none;
  float: left;
}
a {
  text-decoration: none;
}
.cols button {
  line-height: 33px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 33px;
  color: #000;
  height: 33px;
  border-radius: 50% 50%;
  display: block;
  transform: scale(0.85);
  transition: 0.4s;
  width: 10vw;
  height: 10vw;
}
.cols button:hover { 
  transform: scale(1); 
}
ul { 
  margin: 50px 0 50px 0;
  padding: 0;
  overflow: auto;
}
p {
  font-size: 20px;
  line-height: 1.3em;
}

ul#levelbuttons {
  margin: 1em 0 0 0;
  padding: 0;
}
button {
  border: none;
  background: olivedrab;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  padding: 2px 5px;
  background: lightslategrey;
  margin: 0 .2em 0 0;
  color:white;
  clear: both;
  display: block;
}
li button:hover, li button:focus {
  background: deepskyblue;
  color: white;
  transition: 0.3s;
}
@media only screen and (min-width: 680px) {
   .cols button {
    width: 60px;
    height: 60px;
  }
}